* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	background: #fff;
}

header, footer {
	background: gray;
	min-height: 50px;
	padding: 1em;
	text-align: center;
}

main {
	max-width: 80%;
	margin: 0 auto;
}

nav {
	text-align: center;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav ul {
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
}

section {
	padding: 1em;
	margin: 1em;
	text-align: center;
	background: lightgray;

}

table {
	border-collapse: collapse;
}

tr:not(:first-child):hover {
	background: rgba(0, 0, 0, 0.1);
}

img {
	width: 100%;
}

textarea {
	width: 200px;
	height: 200px;
	resize: none;
}

.ovf-scroll {
	overflow: scroll;
}

.ovf-hidden {
	overflow: hidden;
}

.ovf-visible {
	white-space: nowrap;
	display: inline-table;
	overflow: visible;
}

#first {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 200px;
	height: 300px;
	padding: 1em;
	border: 2px solid gray;
	margin: 1em;
}

#third {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
}

.card-container {
	display: flex;
	justify-content: center;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.col {
	width: 100px;
	height: 100px;
	border: 1px solid #fff;
	margin: 1em;
}